extends layout

block content
  block link
    -var selected = 'CHAPTER INFO';
  h1= "Chapter Info"

  h3= "Meeting Hours"
  h3= "Monday & Wednesday"
  h3= "11:30am - 1pm"
  h3= "Building: AB1 Room: C-09"

  img(src="/images/diversityChapterInfo.jpg" id="diversityChapterInfo")
