extends layout

block content
  block link
    -var selected = 'MENTORS';
  h1= "MENTORSHIP"

  h4= "On your path to success, a mentor helps you to make important decisions,"
  h4= "introduce you to opportunities and support you every step of the way."
  h4= "Here, we want to make finding a mentor easy than ever. Look below to find a list of mentors within the computer science and engineering field."

  img(src="/images/mentorMentee.jpg" id="mentoransmentee")
  br
  br
  br
  br
  form(action="/mentors", method="post")
    h1= "Search Area of Expertise"
    input(type="text",  name="ExpertiseSearch")
    input(type="submit",  value="submit")

    .RSSFeedmentorsSearch
      - var count = 0;
            each r in MentorsDatabasePost
              if count < 20
                 .RSSItemsmentors
                    p= r.FIRST_NAME + " " + r.LAST_NAME + " | " + r.Expertise_Name
                    - count++;

  .RSSFeedmentors
    - var count = 0;
          each r in MentorsDatabaseGet
            if count < 20
               .RSSItemsmentors
                  br
                  p= r.FIRST_NAME + " "+ r.LAST_NAME + "  |  " + r.EMAIL + "  |  " + r.PHONE_NUMBER + "  |  " + r.OFFICE + "  |  " + r.LINKEDIN_URL
                  a(href= r.URL)= r.URL
                  <!-- a(href= r.LINKEDIN_URL)= r.LINKEDIN_URL-->
                  <!-- p= r.FIRST_NAME + " " + r.LAST_NAME + " " + r.Expertise_Name-->
                  - count++;
